
.geneview-show-content-title {
    display: flex;
    margin-bottom: 8px;
    b {
        font-size: 18px;
        margin-top: -3px;
        margin-right: 5px;
        color: #0051AA;
    }
}
            